@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 3% 94%;
    --foreground: 240 10% 4%;
    --custom-color-500: 220 2% 32%;
    --custom-color-400: 210 2% 69%;
    --custom-color-300: 0 0% 87%;
    --custom-color-200: 60 2% 92%;
    --custom-color-100: 60 3% 94%;
    --card: 60 3% 94%;
    --card-foreground: 240 10% 4%;
    --popover: 60 3% 94%;
    --popover-foreground: 240 10% 4%;
    --primary: 205 89% 29%;
    --primary-foreground: 204 34% 55%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 60 3% 94%;
    --custom-color-500: 240, 10%, 4%;
    --custom-color-400: 240 6% 7%;
    --custom-color-300: 240 4% 16%;
    --custom-color-200: 0 0% 22%;
    --custom-color-100: 240 2% 69%;
    --card: 240 10% 4%;
    --card-foreground: 60 3% 94%;
    --popover: 240 10% 4%;
    --popover-foreground: 60 3% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}